@import './constants.css';

.flex-container {
	display : flex;
	flex-direction: row;
    width:100%;
    height: fit-content;
    background-color: rgb(239, 237, 240, 0.2);
    position:absolute;
    top: 30%;
}

.reg-now {
    display: flex;
    justify-content: center;
    align-items: center;

    width:fit-content;
    height: 90px;
    padding: 0 7vw;

    border: 4px solid var(--cement-white);
    color: var(--cement-white);
    font-size: clamp(2rem, 2.5vw, 4rem);
}

.picture1{
    flex:1; 
    max-height: 350px;
    max-width: 435px;
}

.about-text {
    flex: 5;
    color: var(--cement-white);
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 400;
    padding-left: 2em;
    display:flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1.5px;
}
.about-text p {
    text-indent: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.about-text p:last-child {
    margin-bottom: 0;
}

.about-text span {
    color: var(--darkbaby-blue);
    font-weight: 700;
}

body:before{
    content: 'DESPRE';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    
    color: #EFEDF0;
    font-size: clamp(19rem, 27vw, 27rem);
    font-weight: 500px;
    display: grid;
    justify-content: center;
    top: 23%;
    opacity: 0.1;
  }

@media (max-width: 600px){
    body::before{
        content: '';
        display: none;
    }

    .about-text {
        flex: 1;
        padding: 0 1em;
        margin-bottom: 20px;
    }
    .picture1{
        flex: 1;
        width: 90%!important;
        height: 89%!important;
        margin: 0 1em;
    }
    .flex-container {
        display : flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        top: 70px;
        background: none;
        margin: 30px 0;
    }
}

@media (max-width: 1140px) {
    .picture1 {
        width: 40vw;
        height: 35vw;
    }
}
