@import './constants.css';
body:before{
    content: 'REGULAMENT';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    
    color: #EFEDF0;
    font-size: 300px;
    font-weight: 500px;
    display: grid;
    justify-content: center;
    margin-top: 150px;
    opacity: 0.1;
  }

  .flex-container {
  
    display : flex;
    padding-top: 12%;
    flex-direction: row;
    justify-content: space-around;
  
  }
  .element{
  
    text-align: left;
    color: var(--cement-white);
    font-size:  20px;
  }
    @media (max-width: 600px){
      body::before{
          content: '';
          display: none;
      }
      .flex-container {

        display : flex;
        padding-top: 20%;
        flex-direction: column;
        justify-content: space-around;
        }
  }